body {
  background-color: #444;
  background-image: url(745acb7a993760ea5b707cad91cdebc4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

